<p id="notice"><%= notice %></p>

<h1>As</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
       <th>user_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @as.each do |a| %>
      <tr>
        <td><%= a.description %></td>
         <td><%= a.user.email if a.user %></td>
        <td><%= link_to 'Show', a %></td>
        <% if a.user == current_user%>
          <td><%= link_to 'Edit', edit_a_path(a) %></td>
          <td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New A', new_a_path %>
<% end %>
